.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px 30px 0px;
  border-radius: 7px;
  padding: 0;
}

.header {
  color: #000;
  text-align: center;
  font-family: 'Gothic A1';
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.desc {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
