.navbar {
  width: 100%;
  height: 6rem;
  background-color: #000000;
  color: #ffffff;
}

.navbar_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left .logo {
  margin-left: 2rem;
  padding-top: 1rem;
  height: 4rem;
  flex-shrink: 0;  
}

.nav_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.nav_btn {
  color: #000;
  font-family: Manrope;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 10px;
  /* width: 16.1875rem; */
  /* height: 2rem; */
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 4.6875rem;
  background-color: #ffffff;
}

#res_btn {
  padding: 10px 30px;
}
