<div class="event-info">
  <div class="event-description-container">
    <p class="title">Event Title</p>
    <p class="date">07-10-2023</p>
    <p class="description">
      Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.
      Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı
      oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri
      endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl
      boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden
      elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da
      içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus
      PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık
      yazılımları ile popüler olmuştur.
    </p>
  </div>
  <div class="img-container">
    <img
      src="https://www.palestine-studies.org/sites/default/files/images/events/singleimage/Palestinian%20refugees%20fleeing%20their%20homes%20near%20Haifa%2C%20June%201948%20Credit_%20Corbis.png"
      alt="nakba"
      width="200"
    />
  </div>
</div>
