<section class="footer">
        <div class="logo">
            <img src="../../../../assets/logo.svg" alt="">
        </div>
        <div class="footer_content">
            <h5>CompanyName @ 2023 - All rights reserved</h5>
        </div>
        <div class="media">
            <ul class="icons-list">
                <li class="fa fa-facebook"></li>
                <li class="fa fa-twitter"></li>
                <li class="fa fa-youtube"></li>
                <li class="fa fa-instagram"></li>               
            </ul>
        </div>
</section>