
<section class="timeline-section">
	<div class="timeline-items">

		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date">1936</div>
			<div class="timeline-content">
				<img class="frame-img" src="../../../assets/frame1.png" alt="">
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date">1936</div>
			<div class="timeline-content">
				<img class="frame-img" src="../../../assets/frame1.png" alt="">
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date">1936</div>
			<div class="timeline-content">
				<img class="frame-img" src="../../../assets/frame1.png" alt="">
			</div>
		</div>

		<div class="timeline-item">
			<div class="timeline-dot"></div>
			<div class="timeline-date">1936</div>
			<div class="timeline-content">
				<img class="frame-img" src="../../../assets/frame1.png" alt="">
			</div>
		</div>

		
		
	</div>
</section>

