<section class="timeline-section">
	<div class="timeline-items" *ngFor="let item of data; let i = index">
		<div class="timeline-item" [ngClass]="{ 'timeline-item-left': isEven(i), 'timeline-item-right': !isEven(i) }">
			<div class="timeline-dot"></div>
			<div class="timeline-date"
				[ngClass]="{ 'timeline-date-right': isEven(i), 'timeline-date-left': !isEven(i) }">
				<!-- <mat-icon>arrow_forward_ios </mat-icon> -->
				{{item.date_year}}
			</div>
			<div>
				<img class="frame-img" src="{{item.img}}" alt="">
			</div>
			
			<div class="event-list" *ngFor="let event of item.events">
				<ul class="event-list-items">
					<li class="item">
						<p class="event-title">{{ event.event_name }}</p>
						<p class="event-month">{{ event.month }}</p>
					</li>
				</ul>
			</div>


		</div>
	</div>
</section>