.event-info {
    display: flex;
    height: 50vh;
    margin-bottom: 30%;
  }
  
  .event-description-container {
    width: 50%;
    padding: 20px;
    overflow: hidden;
  }
  
  .title {
    font-weight: bolder;
    font-size: 2.5rem;
  }
  
  .date {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .img-container {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Media query for iPad and smaller screens */
  @media (max-width: 1024px) {
    .event-info {
      flex-direction: column;
      height: auto;
    }
  
    .event-description-container {
      width: 100%;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .date {
      font-size: 1.25rem;
    }
  
    .img-container {
      padding: 0;
    }
  }
  